@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 33 33 33;

    /* Playfair Display */
    --font-playfair: 'Playfair Display', serif;
    /* Roboto */
    --font-roboto: 'Roboto', sans-serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 131, 143, 0.5);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00838F;
}